.upgrade{
    margin-left: 70%;   
}

.purchaseauto{
    padding-top: 7px;
    padding-bottom: 7px;
}

ol{
    margin-left: 70%;
}
p{
    color: white;
}
label{
    color: white;
}

#updatep{
    margin-top: 33%;
    text-align: center;
    
}


.priceitem{
    padding: 0px;
    line-height: 17px;
}

#pricelist{
    position: relative;
    float: left;
    margin-left: 65%
}


body{
    background-color: grey;
}
button{
    background-color: black;
    color: white;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
    font-size: small;
    transition-property: background, color;
    transition-duration: 0.5s, 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}

#powerups{
    margin-left: 80%;
}

#titlepower{
    font-size: x-large;
    font-family: sans-serif;
}

td{
    color: white;
    padding-left: 5px;
    text-align: center;
}
table{
    padding: 5px
}